Source: node-ejs
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Thorsten Alteholz <debian@alteholz.de>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , mocha <!nocheck>
 , node-jake <!nocheck>
 , node-lru-cache <!nocheck>
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/js-team/node-ejs
Vcs-Git: https://salsa.debian.org/js-team/node-ejs.git
Homepage: https://github.com/mde/ejs
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-ejs
Architecture: all
Depends: ${misc:Depends}
 , node-jake
 , nodejs:any
Suggests: node-lru-cache
Provides: ${nodejs:Provides}
Multi-Arch: foreign
Description: Embedded JavaScript templates
 This module provides embedded JavaScript templates, like
  - Control flow with <% %>
  - Escaped output with <%= %> (escape function configurable)
  - Unescaped raw output with <%- %>
  - Newline-trim mode ('newline slurping') with -%> ending tag
  - Whitespace-trim mode (slurp all whitespace) for control flow with <%_ _%>
  - Custom delimiters (e.g., use <? ?> instead of <% %>)
  - Includes
  - Client-side support
  - Static caching of intermediate JavaScript
  - Static caching of templates
  - Complies with the Express view system
 .
 Node.js is an event-based server-side JavaScript engine.
